<!DOCTYPE html>
<html lang="en">
<head>
	<title>IDFCTS ID</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
<br><br>
	<div class="page-title">
		Sign Up To <br>

	</div>
	<div class="imgidf">
		<center><img src="images/side3.png"></center>
	</div>

	<br>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-850 p-b-200">
				<form class="login100-form validate-form" method="post" action="/new_client>
					<div class="tomer-icons">
						<label><i class="zmdi zmdi-flare"></i></label>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Enter Client ID">
						<input class="input100" type="text" name="id">
						<span class="focus-input100" data-placeholder="Client ID"></span>
						<div class="tomer-helper">
							Same value (string) for 'Client ID' field at your app
						</div>
					</div>

					<div class="tomer-icons">
						<label><i class="zmdi zmdi-lock"></i></label>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Secret must be black for auto generate or at least 5 characters">
						<input class="input100" type="text" name="secret">
						<span class="focus-input100" data-placeholder="Client Secret"></span>
						<div class="tomer-helper">
							You can insert some string or leave blank for auto generate
						</div>
					</div>

					<div class="tomer-icons">
						<label><i class="zmdi zmdi-turning-sign"></i></label>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Enter at least one uri">
						<input class="input100" type="text" name="redirectUris">
						<span class="focus-input100" data-placeholder="OIDC Redirect URIs"></span>
						<div class="tomer-helper">
							Example: https://app.idf.cs/auth. We supports multiple value separated by a comma

						</div>
					</div>

					<div class="tomer-icons">
						<label><i class="zmdi zmdi-picture-in-picture"></i></label>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate = "Enter Application Name">
						<input class="input100" type="text" name="name">
						<span class="focus-input100" data-placeholder="Application Name"></span>
						<div class="tomer-helper">
							Just for us, to know who you are
						</div>
					</div>

					<div class="tomer-icons">
						<label><i class="zmdi zmdi-account material-icons-name"></i></label>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Enter Contact Name">
						<input class="input100" type="text" name="contactName">
						<span class="focus-input100" data-placeholder="Contact Name"></span>
						<div class="tomer-helper2">
a
						</div>
					</div>

					<div class="tomer-icons">
						<label><i class="zmdi zmdi-phone"></i></label>
					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate="Enter password">
						<input class="input100" type="text" name="contactPhone">
						<span class="focus-input100" data-placeholder="Phone Number"></span>
						<div class="tomer-helper2">
a
						</div>
					</div>	

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>

					<ul class="login-more p-t-40">
						<li class="m-b-0">
							<span class="txt1">
								Need help? Click
							</span>

							<a href="#" class="txt2">
								HERE
							</a>
						</li>

						<li class>
							<span class="txt1">
								Want to edit an existing item?
							</span>

							<a href="#" class="txt2">
								Go ahead
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>